
/*
Filename: Hayden Smith/100059015/Assignment1;
Author: Hayden smith;
Created: 22/3/2016;
Last Modified: 22/3/2016;
Unit Name: Creating Web Applications and databases;
Description: Assignment 1 - CSS FILE;
*/


/* General Styles */

body {
	background: url("images/worldly.jpg");
	width: 963px;
	margin-left: auto;
	margin-right: auto;
}

.clear {
	clear: both;
}

.banner {
	font-size: 15px;
	font-family: calabri, sans-serif, arial;
}
.cyber {
	margin-right: auto;
	margin-left: 180px;
}


/* Header Section */

h1, h2 {
	margin-top: 16px;
	margin-bottom: 5px;
}
header {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 50px
}
header ul {
	float: right;
}
header ul li {
	display: inline;
	margin-left: auto;
	margin-right: 90px;
}
header a {
	color: #E5EDDD;
	text-decoration: none;
}
header a:hover {
	color: #F0DF24;
	text-decoration: none;
}


/* Section structure */

section {
	float: left;
	padding: 15px;
	width: 633px;
	border-radius: 8px;
	background-color: #90C3D4;
	border: 2px solid #333;
	box-shadow: 3px 3px 3px #999;
	margin-top: 5px;
	margin: 5px;
	margin-bottom: 5px;
}

section h1 {
	margin-bottom: 20px;
}

/* Aside */

aside {
	float: right;
	width: 255px;
	padding: 9px;
	margin-top: 8px;
	margin-bottom: 7px;
	margin-left: 5px;
	border-radius: 8px;
	background-color: #90C3D4;
	border: 2px solid #333;
	box-shadow: 3px 3px 3px #999;
}

aside p {
	margin: 4px;
}
#cyberguy {
	margin-top: 8px;
}

/* Footer Section */

footer {
	clear: both;
	height: 50px;
	border-radius: 8px;
	background-color: #90C3D4;
	border: 2px solid #333;
	box-shadow: 3px 3px 3px #999;
	margin-left: 4px;
}
footer ul {
	margin-top: auto;
}
footer ul li {
	display: inline;
	margin-left: 190px;
}
footer p {
	text-align: center;
}
footer a {
	color: #E5EDDD;
	text-decoration: none;
}
footer a:hover {
	color: #F0DF24;
	text-decoration: none;
}
table th {
	font-weight: bold;
}


/* index.html specific styles */


.mainbody {
	float: left;
	height: 190px;
	margin-top: 10px;
	border: 2px solid #333;
	box-shadow: 3px 3px 3px #999;
}

.mainbody h2 {
	margin-top: 2px
}

.mainbody img {
	float: left;
	border: 2px solid #C390D4;
	padding: 1px;
	margin-right: 10px;
}
.mainbody a {
	color: #2F4F4F;
	font-size: 18px;
	text-decoration: none;
	font-weight: normal;
}
.mainbody ul {
	list-style: none;
	padding: 2px;
	margin-top: 2px;
}
.mainbody li {
	margin: 10px;
	margin-bottom: 5px;
}
.title-links {
	text-decoration: none;
	color: #C390D4;
	font-weight: normal;
	font-size: 17px;
	font-stretch: expanded;
}
.mainbody h1 {
	color: #F2003D;
}
aside strong {
	color: #F27318;
}

#video {
	float: left;
	margin: 0 15px 5px 0;
}


/* jobs.html specific styles */





/* apply.html specific styles */


fieldset legend {
	font-weight: bold;
	margin-bottom: 5px;
}

#personal_info {
	margin-bottom: 20px;
}

#gender {
	margin-bottom: 20px;
}

#address {
	margin-bottom: 20px;
}

#personal_info label {
	float: left;
	width: 200px;
	text-align: left;
	margin-right: 10px;
	margin-bottom: 5px;
}
#gender label {
	width: 100px;
	text-align: left;
	margin-right: 10px;
}

#address label {
	float: left;
	width: 200px;
	text-align: left;
	margin-right: 10px;
	margin-bottom: 5px;
}

#skills ul {
	list-style: none;
}

/* about.html specific styles */

#name {
	text-align: left;
	font-weight: 700;
	font-size: 150%;
}
#number {
	font-family: Courier, monospace;
}
#steve {
	margin-top: 300px;

}
#tutorial {
	text-align: right;
}
#course {
	color: #FF8708;
}
#timetable {
	border: 1px solid;
	width: 500px;
	background-color: red;
	margin-top: 30px;
	margin-left: 65px;
	margin-bottom: 30px;
}
#timetable td {
	text-align: center;
}
#timetable img {
}
#me {
	float: right;
	border: double;
	padding: 40px;
}

#mail {
	text-align: center;
	font-size: small;
}

table td {
	font-weight: bold;
}

/* enhancements.html */


.enhancements {
	width: 923px;
}
